{% load mptt_tags %}
{% load cache %}

{% cache 300 category %}
    <div class="single__widget widget__bg">
        <h2 class="widget__title position__relative h3">Categories</h2>
        <ul class="widget__categories--menu">
            {% full_tree_for_model goods.CategoryModel as categori %}
            {% recursetree categori %}
            <li class="widget__categories--menu__list">
                <label class="widget__categories--menu__label d-flex align-items-center">
                    <span class="widget__categories--menu__text">{{ node.name }}</span>
                    <svg class="widget__categories--menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12.355" height="8.394">
                        <path  d="M15.138,8.59l-3.961,3.952L7.217,8.59,6,9.807l5.178,5.178,5.178-5.178Z" transform="translate(-6 -8.59)" fill="currentColor"></path>
                    </svg>
                </label>
                <ul class="widget__categories--sub__menu">
                    <li class="widget__categories--sub__menu--list">
                        <a class="widget__categories--sub__menu--link d-flex align-items-center" href="shop.html">
                                {% if not node.is_leaf_node %}
                                <span class="widget__categories--sub__menu--text">{{ children }}</span>
                                {% endif %}
                            </a>
                        </li>
                </ul>
            </li>
            {% endrecursetree %}
        </ul>
    </div>
{% endcache %}