{% load mptt_tags static %}


<div id="reviews" class="tab_pane active show">
    <div class="product__reviews">
        <div class="product__reviews--header">
            <h3 class="product__reviews--header__title mb-20">Customer Reviews</h3>
            <div class="reviews__ratting d-flex align-items-center">
                <ul class="rating d-flex">
                    <li class="rating__list">
                        <span class="rating__list--icon">
                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                height="13.732" viewBox="0 0 10.105 9.732">
                                <path data-name="star - Copy"
                                    d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                    transform="translate(0 -0.018)" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </li>
                    <li class="rating__list">
                        <span class="rating__list--icon">
                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                height="13.732" viewBox="0 0 10.105 9.732">
                                <path data-name="star - Copy"
                                    d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                    transform="translate(0 -0.018)" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </li>
                    <li class="rating__list">
                        <span class="rating__list--icon">
                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                height="13.732" viewBox="0 0 10.105 9.732">
                                <path data-name="star - Copy"
                                    d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                    transform="translate(0 -0.018)" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </li>
                    <li class="rating__list">
                        <span class="rating__list--icon">
                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                height="13.732" viewBox="0 0 10.105 9.732">
                                <path data-name="star - Copy"
                                    d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                    transform="translate(0 -0.018)" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </li>
                    <li class="rating__list">
                        <span class="rating__list--icon">
                            <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                height="13.732" viewBox="0 0 10.105 9.732">
                                <path data-name="star - Copy"
                                    d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                    transform="translate(0 -0.018)" fill="currentColor">
                                </path>
                            </svg>
                        </span>
                    </li>
                </ul>
                <span class="reviews__summary--caption">Based on 2 reviews</span>
            </div>
            <a class="actions__newreviews--btn primary__btn" href="#writereview">Write A
                Review</a>
        </div>
        {% recursetree product_detail.comment.all %}
        <div class="reviews__comment--area">
            <div class="reviews__comment--list d-flex">
                <div class="reviews__comment--thumbnail">
                    {% if node.user.icon %}
                    <img src="{{ node.user.icon.url }}" alt="{{ node.name }}">
                    {% endif %}
                </div>
                <div class="reviews__comment--content">
                    <h4 class="reviews__comment--content__title">{{ node.user }}</h4>
                    <ul class="rating reviews__comment--rating d-flex mb-5">
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                    </ul>
                    <p class="reviews__comment--content__desc">{{ node.message }}</p>
                    <p class="reviews__comment--content__desc dtn-reply" data-comment-id="{{ node.pk }}"
                        data-comment-username="{{ node.author }}" href="#writereview">Ответить</p>
                    <span class="reviews__comment--content__date">{{ node.time_create }}</span>
                </div>
            </div>
            {% if not node.is_leaf_node %}
            {{ children }}
            {% endif %}
        </div>
        {% endrecursetree %}
        <div id="writereview" class="reviews__comment--reply__area">
            <form method="post" action="{% url 'catalog:comment_create_view' product_detail.pk %}" id="commentForm" name="commentForm" data-article-id="{{ article.pk }}">
                <h3 class="reviews__comment--reply__title mb-15">Add a review </h3>
                <div class="reviews__ratting d-flex align-items-center mb-20">
                    <ul class="rating d-flex">
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                        <li class="rating__list">
                            <span class="rating__list--icon">
                                <svg class="rating__list--icon__svg" xmlns="http://www.w3.org/2000/svg" width="13.105"
                                    height="13.732" viewBox="0 0 10.105 9.732">
                                    <path data-name="star - Copy"
                                        d="M9.837,3.5,6.73,3.039,5.338.179a.335.335,0,0,0-.571,0L3.375,3.039.268,3.5a.3.3,0,0,0-.178.514L2.347,6.242,1.813,9.4a.314.314,0,0,0,.464.316L5.052,8.232,7.827,9.712A.314.314,0,0,0,8.292,9.4L7.758,6.242l2.257-2.231A.3.3,0,0,0,9.837,3.5Z"
                                        transform="translate(0 -0.018)" fill="currentColor">
                                    </path>
                                </svg>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 mb-10">
                        <label for="id_message">
                            <input id="id_message" name="message" class="reviews__comment--reply__textarea" placeholder="Your Comments....">
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-15">
                        <label for="id_name">
                            <input id="id_name" name="name" class="reviews__comment--reply__input" placeholder="Your Name...." type="text">
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-15">
                        <label for="id_email">
                            <input id="id_email" name="email" class="reviews__comment--reply__input" placeholder="Your Email...." type="email">
                        </label>
                    </div>
                </div>
                <button class="text-white primary__btn" data-hover="Submit" type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</div>