{% extends "main.html" %}

{% block content %}
<div class="login__section section--padding">
    <div class="container">
        <form action="{% url "users:password_reset" %}" method="post">
            {% csrf_token %}
            <div class="login__section--inner">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <div class="account__login">
                            <div class="account__login--header mb-25">
                                <h3 class="account__login--header__title mb-10">Инструкция по сбросу</h3>
                            </div>
                            <div class="account__login--inner">
                                <label for="id_email">
                                    <input id="id_email" name="email" class="account__login--input" 
                                    placeholder="email or email" type="text" required>
                                </label>
                                <button class="account__login--btn primary__btn" type="submit">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>     
</div>
{% endblock content %}
