{% extends "main.html" %}

{% block content %}
<div class="login__section section--padding">
    <div class="container">
        <form action="{% url "users:login" %}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="login__section--inner">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <div class="account__login">
                            <div class="account__login--header mb-25">
                                <h3 class="account__login--header__title mb-10">Login</h3>
                                <p class="account__login--header__desc">Login if you area a returning customer.</p>
                            </div>
                            <div class="account__login--inner">
                                <label for="id_username">
                                    <input id="id_username" name="username" class="account__login--input" 
                                    placeholder="Username or email" type="text"
                                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required>
                                    {% if form.username.errors %}
                                    <p class="account__login--header__desc">{{ form.username.errors }}</p>
                                    {% endif %}
                                </label>
                                <label for="id_password">
                                    <input id="id_password" name="password" class="account__login--input" 
                                    placeholder="Password" type="password" required>
                                    {% if form.password.errors %}
                                    <p class="accountlogin--headerdesc">{{ form.password.errors }}</p>
                                    {% endif %}
                                </label>                                
                                <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
                                    <div class="account__login--remember position__relative">
                                        <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                        <span class="checkout__checkbox--checkmark"></span>
                                        <label class="checkout__checkbox--label login__remember--label" for="check1">
                                            Remember me</label>
                                    </div>
                                    <button class="account__login--forgot" type="submit">Forgot Your Password?</button>
                                </div>
                                <button class="account__login--btn primary__btn" type="submit">Login</button>
                                <div class="account__login--divide">
                                    <span class="account__login--divide__text">OR</span>
                                </div>
                                <div class="account__social d-flex justify-content-center mb-15">
                                    <a class="account__social--link facebook" target="_blank" href="https://www.facebook.com">Facebook</a>
                                    <a class="account__social--link google" target="_blank" href="https://www.google.com">Google</a>
                                    <a class="account__social--link twitter" target="_blank" href="https://twitter.com">Twitter</a>
                                </div>
                                <p class="account__login--signup__text">Don,t Have an Account? <button type="submit">Sign up now</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>     
</div>
{% endblock content %}
