{% extends "main.html" %}
{% load orders_tags %}

{% get_total_price_order request as total_price %}
{% get_product_for_cart request as product_cart %}

{% block content %}
<!-- Start breadcrumb section -->
<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content">
                    <h1 class="breadcrumb__content--title text-white mb-10">Checkout</h1>
                    <ul class="breadcrumb__content--menu d-flex">
                        <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb__content--menu__items"><span class="text-white">Checkout</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb section -->

<!-- Start checkout page area -->
<div class="checkout__page--area section--padding">
    <div class="container">
        <form action="{% url "order:order" %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="main checkout__mian">
                        <div class="checkout__content--step section__contact--information">
                            <div
                                class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                <h2 class="section__header--title h3">Contact information</h2>
                                <p class="layout__flex--item">
                                    Already have an account?
                                    <a class="layout__flex--item__link" href="{% url "users:login" %}">Log in</a>
                                </p>
                            </div>
                            <div class="customer__information">
                                <div class="checkout__email--phone mb-12">
                                    <label for="id_phone">
                                        <input class="checkout__input--field border-radius-5" id="id_phone" name="phone"
                                            placeholder="Mobile phone mumber" type="number">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__content--step section__shipping--address">
                            <div class="section__header mb-25">
                                <h2 class="section__header--title h3">Billing Details</h2>
                            </div>
                            <div class="section__shipping--address__content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="checkout__input--list ">
                                            <label class="checkout__input--label mb-5" for="id_first_name">Fist Name
                                                <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5"
                                                placeholder="First name (optional)" id="id_first_name" type="text"
                                                name="first_name"
                                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="id_last_name">Last Name
                                                <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5"
                                                placeholder="Last name" id="id_last_name" type="text" name="last_name"
                                                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="id_adress">Address <span
                                                    class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5" placeholder="Address1"
                                                id="id_adress" type="text" name="adress"
                                                value="{% if form.adress.value %}{{ form.adress.value }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="id_town_city">Town/City
                                                <span class="checkout__input--label__star">*</span></label>
                                            <input class="checkout__input--field border-radius-5" placeholder="City"
                                                id="id_town_city" type="text" name="town_city"
                                                value="{% if form.town_city.value %}{{ form.town_city.value }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-20">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-5" for="id_postal_code">Postal
                                                Code</label>
                                            <input class="checkout__input--field border-radius-5"
                                                placeholder="Postal code" id="id_postal_code" name="postal_code"
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-notes mb-20">
                            <label class="checkout__input--label mb-5" for="id_order_notes">Order Notes <span
                                    class="checkout__input--label__star">*</span></label>
                            <textarea class="checkout__notes--textarea__field border-radius-5" id="order_notes"
                                name="order_notes"
                                placeholder="Notes about your order, e.g. special notes for delivery."
                                spellcheck="false"></textarea>
                        </div>
                        <div class="checkout__content--step__footer d-flex align-items-center">
                            <a class="continue__shipping--btn primary__btn border-radius-5"
                                href="{% url "catalog:shop" %}">Continue To Shipping</a>
                            <a class="previous__link--content" href="{% url "cart:cart" %}">Return to cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <aside class="checkout__sidebar sidebar border-radius-10">
                        <h2 class="checkout__order--summary__title text-center mb-15">Your Order Summary</h2>
                        <div class="cart__table checkout__product--table">
                            <table class="cart__table--inner">
                                <tbody class="cart__table--body">
                                    <tr class="cart__table--body__items">
                                        <td class="cart__table--body__list">
                                            <div class="product__image two  d-flex align-items-center">
                                                <div class="product__thumbnail border-radius-5">
                                                    <a class="display-block" href="product-details.html"><img
                                                            class="display-block border-radius-5"
                                                            src="assets/img/product/small-product1.webp"
                                                            alt="cart-product"></a>
                                                    <span
                                                        class="product__thumbnail--quantity">{{ product_cart.quantity }}</span>
                                                </div>
                                                <div class="product__description">
                                                    <h4 class="product__description--name"><a
                                                            href="product-details.html">{{ product_cart.product.name }}</a>
                                                    </h4>
                                                    <span class="product__description--variant">COLOR:
                                                        {{ product_cart.product.color }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__table--body__list">
                                            <span class="cart__price">£{{ product_cart.prodcut.sell_price }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout__discount--code">
                            <label for="id_code">
                                <input class="checkout__discount--code__input--field border-radius-5"
                                    placeholder="Gift card or discount code" id="id_code" name="code" type="text"
                                    value="{% if form.code.value %}{{ form.code.value }}{% endif %}">
                            </label>
                            <button class="checkout__discount--code__btn primary__btn border-radius-5"
                                type="submit">Apply</button>
                        </div>
                        <div class="checkout__total">
                            <table class="checkout__total--table">
                                <tbody class="checkout__total--body">
                                    <tr class="checkout__total--items">
                                        <td class="checkout__total--title text-left">Subtotal </td>
                                        <td class="checkout__total--amount text-right">${{ total_price }}</td>
                                    </tr>
                                    <tr class="checkout__total--items">
                                        <td class="checkout__total--title text-left">Shipping</td>
                                        <td class="checkout__total--calculated__text text-right">Calculated at next step
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="checkout__total--footer">
                                    <tr class="checkout__total--footer__items">
                                        <td
                                            class="checkout__total--footer__title checkout__total--footer__list text-left">
                                            Total </td>
                                        <td
                                            class="checkout__total--footer__amount checkout__total--footer__list text-right">
                                            ${{ total_price }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment__history mb-30">
                            <h3 class="payment__history--title mb-20">Payment</h3>
                            <ul class="payment__history--inner d-flex">
                                <li class="payment__history--list"><button class="payment__history--link primary__btn"
                                        type="submit">Credit Card</button></li>
                                <li class="payment__history--list"><button class="payment__history--link primary__btn"
                                        type="submit">Bank Transfer</button></li>
                                <li class="payment__history--list"><button class="payment__history--link primary__btn"
                                        type="submit">Paypal</button></li>
                            </ul>
                        </div>
                        <button class="checkout__now--btn primary__btn" type="submit">Checkout Now</button>
                    </aside>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock content %}