{% extends "base.html" %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}

{% block currency_language %}
    {% if currency %}   
                                <li class="language__currency--list">
                                    <a class="account__currency--link text-white" href="#">
                                        <img src="{% static 'assets/img/icon/usd-icon.webp' %}" alt="currency">
                                        <span>{% block currency %}{% endblock currency %}</span> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                            <path  d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown__currency">
                                        <ul>
                                            <li class="currency__items"><a class="currency__text" href="#">{% block currency_item %}
                                                {% endblock currency_item %}</a></li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
                            {% if language %}
                                <li class="language__currency--list">
                                    <a class="language__switcher text-white" href="#">
                                        <img class="language__switcher--icon__img" src="{% static 'assets/img/icon/language-icon.webp' %}" alt="currency">
                                        <span>{% block Language %}{% endblock Language %}</span> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                            <path  d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown__language">
                                        <ul>
                                            <li class="language__items"><a class="language__text" href="#">{% block language_item %}
                                                {% endblock language_item %}</a></li>
                                        </ul>
                                    </div>
                                </li>
                            {% endif %}
{% endblock currency_language %}

{% block content %}

 <main class="main__content_wrapper">
     
     <!-- Start breadcrumb section -->
     <section class="breadcrumb__section breadcrumb__bg">
         <div class="container">
             <div class="row row-cols-1">
                 <div class="col">
                     <div class="breadcrumb__content">
                         <h1 class="breadcrumb__content--title text-white mb-10">Account Page</h1>
                         <ul class="breadcrumb__content--menu d-flex">
                             <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">Home</a></li>
                             <li class="breadcrumb__content--menu__items"><span class="text-white">Account Page</span></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- End breadcrumb section -->

     <!-- Start login section  -->
     <div class="login__section section--padding">
         <div class="container">
             <form action={% url "user:login" %} method="post">
                 {% csrf_token %}
                 <div class="login__section--inner">
                     <div class="row row-cols-md-2 row-cols-1">
                         <div class="col">
                             <div class="account__login">
                                 <div class="account__login--header mb-25">
                                     <h3 class="account__login--header__title mb-10">Login</h3>
                                     <p class="account__login--header__desc">Login if you area a returning customer.</p>
                                 </div>
                                 <div class="account__login--inner">
                                    <label for="id_username">
                                        <input class="account__login--input" placeholder="Username" type="text"
                                        value="{% if formlog.username.value %}{{ formlog.username.value }}{% endif %}" 
                                        name="username" id="id_username" required>
                                        {% if formlog.username.errors %}
                                        <p class="account__login--error">{{ formlog.username.errors }}</p>
                                        {% endif %}
                                    </label>
                                    <label for="id_password">
                                        <input class="account__login--input" placeholder="Password" type="password" name="password" id="id_password" required>
                                        {% if formlog.password.errors %}
                                        <p class="account__login--error">{{ formlog.password.errors }}</p>
                                        {% endif %}
                                    </label>
                                     <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
                                         <div class="account__login--remember position__relative">
                                             <input class="checkout__checkbox--input" id="check1" type="checkbox">
                                             <span class="checkout__checkbox--checkmark"></span>
                                             <label class="checkout__checkbox--label login__remember--label" for="check1">
                                                 Remember me</label>
                                         </div>
                                         <button class="account__login--forgot" type="submit">Forgot Your Password?</button>
                                     </div>
                                     <button class="account__login--btn primary__btn" type="submit">Login</button>
                                     <div class="account__login--divide">
                                         <span class="account__login--divide__text">OR</span>
                                     </div>
                                     <div class="account__social d-flex justify-content-center mb-15">
                                         <a class="account__social--link google" target="_blank" href="https://www.google.com">Google</a>
                                     </div>
                                     <p class="accountlogin--signuptext">Don't have an account? <a 
                                        href="{% url 'user:registration' %}">Sign up now</a></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </form>
         </div>     
     </div>
     <!-- End login section  -->


 </main>

 

{% endblock content %}
