{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

  <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

  <!-- Plugin css -->
  <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">

  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  {% block css %}{% endblock css %}
</head>

<body>

  <!-- Start header area -->
  <header class="header__section header__transparent">

    <!--header-->
    {% include "includes/header.html" %}

    <!--shop-->

    <!--shop-->

  </header>
  <!-- End header area -->

  <main class="main__content_wrapper">
    {% block content %}
    {% endblock content %}


    <!-- Start Newsletter banner section -->
    {% comment %} {% include "includes/newsletter_banner_section.html" %} {% endcomment %}
    <!-- End Newsletter banner section -->

    <!-- Start blog section -->

    <!-- End blog section -->



  </main>

  <!-- Start footer section -->
  {% include "includes/footer_section.html" %}
  <!-- End footer section -->

  <!-- Quickview Wrapper -->
  <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
        d="M112 244l144-144 144 144M256 120v292" /></svg></button>

  <!-- All Script JS Plugins here  -->
  <script src="{% static 'assets/js/vendor/popper.js' %}" defer="defer"></script>
  <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}" defer="defer"></script>
  <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
  <script src="{% static 'assets/js/plugins/glightbox.min.js' %}" defer="defer"></script>

  <!-- Customscript js -->
  <script src="{% static 'assets/js/script.js' %}" defer="defer"></script>
  <script src="{% static 'assets/js/script-ajax.js' %}" defer="defer"></script>
  <script src="{% static 'assets/js/comment.js' %}" defer="defer"></script>
  {% block scripts %}
  {% endblock scripts %}

</body>

</html>